#ignore .pyc files (files generated during interpreting)
*.pyc
knights_knaves.py
test_Parser.py
test.py

#no temp files
*~
.~*
**/*~
**/.~*

#no build folder
build/

#no Pycharm / CLion project files
.idea/**
**/.idea/

